@import 'fontface';
//--font varaiables--//
$inika:'Inika';
$MuseoModerno:'MuseoModerno', cursive;
$roboto:'Roboto';
$mulish:'Mulish';
//--color variables--//
$color-ffffff:#ffffff;
$color-000000:#000000;
$color-157BF2:#157BF2;
$color-CFE5FF:#CFE5FF;
$color-838181:#838181;
$color-D3CFCF:#D3CFCF;
$color-FAFCFF:#FAFCFF;
$color-717171:#717171;
$color-AEAEAE:#AEAEAE;
$color-454752:#454752;
$color-161616:#161616;
$color-DADADB:#DADADB;
$color-F5F5F5:#F5F5F5;
$color-A4CDFE:#A4CDFE;
$color-E26C29:#E26C29;
$color-E22982:#E22982;
$color-BF4B0A:#BF4B0A;
$color-F8B757:#F8B757;
$color-CBCBCB:#CBCBCB;
$color-2FBF0A:#2FBF0A;
$color-F52F13:#F52F13;
$color-D9D9D9:#D9D9D9;
$color-FAFAFF:#FAFAFF;
$color-0F5E58:#0F5E58;
$color-040B4D:#040B4D;