@import 'animation';
@import 'variables';
@import 'mixins';

.default__img{
    width:114px;
    height:114px;
    @include border-radius(50%);
    position:relative;
    margin-bottom:60px;
}
.icon{
    &--upload{
        width:24px;
        height:24px;
        background-color:$color-157BF2;
        @include border-radius(50%);
        @include box-shadow(0px, 12px, 24px, rgba(21, 123, 242, 0.25));
        @include display(inline-block);
        @include position(absolute, $right:10px, $bottom:2px);
        background-image:url(../assets/images/edit.svg);
        background-size:10px 10px;
    }
}